---
import PortableText from "@components/PortableText.astro";

const { node } = Astro.props;
---

<!-- {node.doesInclude && node.doesInclude.length !== 0 && (
	<div class="document-description">
		{node.doesInclude.includes("projectDescription") && node.projectDescription && node.projectDescription.length !== 0 && (
			<PortableText source={node.projectDescription} />
		)}
		{node.doesInclude.includes("collectionDescriptions") && node.collectionDescriptions && node.collectionDescriptions.length !== 0 && (
			node.collectionDescriptions.filter((collection) => collection.description && collection.description.length !== 0).map((collection) => (
				<PortableText source={collection.description} />
			))
		)}
	</div>
)} -->

<!-- <style lang="scss">
	.document-description {
		font-size: var(--font-size-small);
		color: var(--color-2);
	}
	:global(*) + .document-description {
		margin-block-start: 1rem;
	}
</style> -->