---
import Link from "@components/Link.astro";

const { node } = Astro.props;

const {
	label,
	type,
	internalTarget,
	externalTarget,
} = node;
---

{label && type && ((type === "internal" && internalTarget) || (type === "external" && externalTarget)) && (
	<div class="cta">
		<Link {...(((type === "external" && externalTarget) && { href: externalTarget }) || ((type === "internal" && internalTarget) && { to: internalTarget }))}>
			{label}
		</Link>
	</div>
)}

<style lang="scss" is:global>
	@use "@styles/mixins";
	.cta {
		position: relative;
		width: fit-content;
		padding: var(--spacer-300);
		font-weight: 700;
		background: var(--color-6);
		box-shadow: 0 0 0 1px var(--color-5);
	}
	.cta a::after {
		content: "";
		position: absolute;
		inset: 0;
	}
</style>