---
import RichText from "@components/RichText.astro";

const { node } = Astro.props;
---

{node.doesInclude && node.doesInclude.length !== 0 && (
	<div class="document-description">
		{node.doesInclude.includes("projectDescription") && node.projectDescription && node.projectDescription.length !== 0 && (
			<RichText source={node.projectDescription} />
		)}
		{node.doesInclude.includes("collectionDescriptions") && node.collectionDescriptions && node.collectionDescriptions.length !== 0 && (
			node.collectionDescriptions.filter((collection) => collection.description && collection.description.length !== 0).map((collection) => (
				<RichText source={collection.description} />
			))
		)}
	</div>
)}