---
import RecordDate from "@components/RecordDate.astro";
import RecordTags from "@components/RecordTags.astro";
import RecordTitle from "@components/RecordTitle.astro";

const { node } = Astro.props;
---

{node.title && (
	<div class="document-header">
		<RecordTitle source={node} level={3} />
		<RecordDate source={node} />
		<RecordTags source={node} tags={["types", "collections", "locations"]} withLinks={true} />
	</div>
)}

<style lang="scss" is:global>
	@use "@styles/mixins";
	.document-header {
		& {
			display: flex;
			flex-direction: column;
			row-gap: var(--spacer-100);
			text-wrap: pretty;
			// text-wrap: balance;
		}
		.record-title-baseline {
			font-weight: 700;
		}
		.record-subtitle {
			display: block;
			margin-block-start: var(--spacer-100);
		}
		.record-title-separator {
			position: absolute;
			opacity: 0;
			font-size: 0px;
		}
		.record-tags ul {
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			column-gap: var(--spacer-200);
			row-gap: var(--spacer-100);
		}
		.record-tags li {
			display: inline;
			margin: 0;
			padding: 0;
		}
		.record-tags a {
			@include mixins.link();
			@include mixins.hover-text();
		}
	}
</style>