---
import type { VerticalAlignments } from "@components/PageCmps/PageBuilder.astro";

export type Props = {
	ratio: number;
	verticalAlignment: VerticalAlignments;
	index: number;
};

const {
	ratio,
	verticalAlignment,
	index
} = Astro.props;
---

<div class="column"
	data-index={index}
	style={{
		"--column-flex-ratio": ratio,
		"--column-vertical-alignment": {
			"top": "flex-start",
			"middle": "center",
			"bottom": "flex-end",
			"baseline": "baseline",
		}[verticalAlignment] || null,
	}}
><slot /></div>

<style lang="scss">
	.column {
		flex: var(--column-flex-ratio);
		align-self: var(--column-vertical-alignment);
	}
	@media (max-width: 896px) {
		.column:empty {
			display: none;
		}
	}
	@media (max-width: 768px) {
		.column {
			flex: unset;
			align-self: unset;
		}
	}
</style>