---
export type Props = {
	index: number;
	doesBreakout?: boolean;
};

const {
	index,
	doesBreakout,
} = Astro.props;
---

<div class:list={["row", { breakout: doesBreakout }]} data-index={index}>
	<slot />
</div>

<style lang="scss">
	.row {
		display: flex;
		flex-flow: row nowrap;
		margin-block-end: var(--spacer-400);
		gap: var(--spacer-400);
	}
	@media (max-width: 768px) {
		.row {
			flex-direction: column;
		}
	}
</style>