---
import type { VerticalAlignments } from "@components/PageCmps/PageBuilder.astro";

export type Props = {
	ratio: number;
	verticalAlignment: VerticalAlignments;
	index: number;
};

const {
	ratio,
	verticalAlignment,
	index
} = Astro.props;
---

<div class="column"
	data-index={index}
	style={{
		flex: ratio,
		alignSelf: {
			"top": "flex-start",
			"middle": "center",
			"bottom": "flex-end",
		}[verticalAlignment] || null,
	}}
><slot /></div>

<style lang="scss">
	@media (max-width: 896px) {
		.column:empty {
			display: none;
		}
	}
</style>