@charset "UTF-8";

@use "@styles/mixins";

:root {
	// color
	--color-1: #000000; // darkest // #191f45
	--color-2: #5f6368; // dark // #5f6368
	--color-3: #94979b; // medium-dark
	--color-4: #dadce0; // medium
	--color-5: #e8e9eb; // medium-light
	--color-6: #f8f8f8; // light
	--color-7: #ffffff; // lightest
	// font-family
	--font-family-sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--font-family-serif: "Times", "Times New Roman", serif;
	--font-family-mono: monospace;
	// font-weight
	--font-weight-bold: 700;
	--font-weight-medium: 400;
	--font-weight-light: 300;
	// font-size
	--font-size-x-large: 1.2222222222rem; // 22px @ 18px
	--font-size-large: 1rem; // 18px @ 18px
	--font-size-medium: 0.8888888889rem; // 16px @ 18px
	--font-size-small: 0.7777777778rem; // 14px @ 18px
	// line-height
	--line-height-large: 1.3;
	--line-height-medium: 1.15;
	--line-height-small: 1;
	// letter-spacing
	--letter-spacing-large: 0.015em;
	--letter-spacing-medium: normal;
	--letter-spacing-small: -0.015em;
}

// misc
.display-none, [hidden] {
	display: none;
}
.display-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.hover-text {
	@include mixins.hover-text();
}
.hover-image {
	@include mixins.hover-image();
}
a[aria-current] {
	background-image: linear-gradient(to bottom, var(--color-4), var(--color-4));
	background-size: 1px 2px;
	background-repeat: repeat-x;
	background-position: 0 100%;
}
a:focus-visible,
button:focus-visible,
input:focus-visible + label {
	outline: red auto 5px;
	outline-offset: 0.175em;
	z-index: 1;
}