---
import Main from "@layouts/Main.astro";
---

<Main title="Coming Soon">
	<div class="content">
		<div>
			<p>
				Coming soon
			</p>
		</div>
	</div>
</Main>

<style lang="scss">
	.content {
		flex: 1;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding-block-start: var(--spacer-400);
		padding-block-end: calc(var(--spacer-400) + env(safe-area-inset-bottom, 0px));
	}
</style>