---
import Main from "@layouts/Main.astro";
---

<Main title="404">
	<h1 style="margin: auto; line-height: 1.3;">
		<span>
			404
		</span>
		<span style="display: block;">
			Page not found
		</span>
	</h1>
</Main>