---
import Main from "@layouts/Main.astro";
---

<Main title="404">
	<div class="content">
		<div>
			<p>
				404
			</p>
			<p>
				Page not found
			</p>
		</div>
	</div>
</Main>

<style lang="scss">
	.content {
		flex: 1;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding-block: calc(var(--spacer-400) * 1);
	}
</style>