---
import Main from "@layouts/Main.astro";
import { SimplePagesGroqQuery } from "@lib/groq";
import sanityClient from "@root/sanity";

export type SimplePageProps = {
	slug: {
		current: string;
	};
	title: string;
};

export async function getStaticPaths() {
	const pages: SimplePageProps[] = await sanityClient.fetch(SimplePagesGroqQuery);
	return pages?.map((page) => {
		return {
			params: {
				slug: page.slug?.current,
			},
			props: {
				...page,
			},
		};
	});
};

const page = Astro.props;
---

<Main title={page.title}>
	<article>
		{page.title}
	</article>
</Main>