---
import Page, { type PageProps } from "@components/Page.astro";
import Main from "@layouts/Main.astro";
import { SimplePagesGroqQuery } from "@lib/groq";
import sanityClient from "@root/sanity";

export type SimplePageProps = {
	type: "page";
	slug: {
		current: string;
	};
	title: string;
	page: PageProps;
};

export async function getStaticPaths() {
	const pages: SimplePageProps[] = await sanityClient.fetch(SimplePagesGroqQuery);
	return pages?.map((page) => {
		return {
			params: {
				slug: page.slug?.current,
			},
			props: {
				...page,
			},
		};
	});
};

const page = Astro.props;
---

<Main title={page.title}>
	<Page source={page} />
</Main>