---
import Dataset, { assignRecordToGroup, type DatasetRecordGroups } from "@components/Dataset.astro";
import Main from "@layouts/Main.astro";
import { PressListingGroqQuery } from "@lib/groq";
import type { SanityImageMetadataObject } from "@lib/types.astro";
import type { BasicProjectProps } from "@projects/[slug].astro";
import type { BasicPublicationProps } from "@publications/index.astro";
import sanityClient from "@root/sanity";
import type { SanityImageObject } from "@sanity/image-url/lib/types/types";
import type { TypedObject } from "astro-portabletext/types";

export type NewsProps = {
	type: "news";
	slug: { current: string; };
	title: string;
	date: string;
	description?: TypedObject[] | string;
	body?: TypedObject[];
	image?: SanityImageObject & SanityImageMetadataObject;
	relatedProjects?: BasicProjectProps[];
	relatedPublications?: BasicPublicationProps[];
};

export type PressProps = {
	type: "press";
	url: string;
	title: string;
	publisher: string;
	date: string;
	description?: TypedObject[];
	image?: SanityImageObject & SanityImageMetadataObject;
	relatedProjects?: BasicProjectProps[];
	relatedPublications?: BasicPublicationProps[];
};

export type NewsOrPressItemProps = NewsProps | PressProps;

export type PressListingProps = {
	id: "pressListing";
	type: "listing";
	slug: { current: string; };
	title: string;
	allItems: NewsOrPressItemProps[];
};

export async function getStaticPaths() {
	const pressListing: PressListingProps = await sanityClient.fetch(PressListingGroqQuery);
	return [{
		params: {
			press: pressListing.slug?.current,
		},
		props: {
			...pressListing,
		},
	}];
};

const listing = Astro.props;

const allPressItems: DatasetRecordGroups = {};

listing.allItems.forEach((item) => {
	assignRecordToGroup(item, {
		group: allPressItems,
		key: "all",
		title: "All",
		description: "All press items",
		method: "period",
	});
});
---

<Main title={listing.title}>
	<h1 class="display-none">
		{listing.title}
	</h1>
	<Dataset
		sets={[
			{
				name: "set-1",
				method: "period",
				type: "headlines",
				title: "List of Press Items, Sorted By Date",
				object: allPressItems,
				orderings: Object.keys(allPressItems),
			},
		]}
	/>
</Main>