---
import type { RecordProps } from "@lib/types.astro";

type Props = {
	record: RecordProps;
};

const {
	record,
} = Astro.props;

const hasLocalDescription = (record.type === "project" || record.type === "publication" || record.type === "news" || record.type === "press") && record.description && record.description.length !== 0;
const hasCollectionDescriptions = (record.type === "project" || record.type === "publication") && record.collections && record.collections.length !== 0 && record.collections.filter((collection) => collection.description).length !== 0;
---

{(hasLocalDescription || hasCollectionDescriptions) && (
	<div class="record-description">
		{hasLocalDescription && (
			<p class="record-local-description">{record.description}</p>
		)}
		{hasCollectionDescriptions && record.collections.map((collection) => (
			<p class="record-collection-description">{collection.description}</p>
		))}
	</div>
)}