---
import PortableText from "@components/PortableText.astro";
import type { RecordProps } from "@lib/types.astro";

type Props = {
	record: RecordProps;
};

const {
	record,
} = Astro.props;

const hasBody = record.type === "news" && record.body && record.body.length !== 0;
---

{hasBody && (
	<div class="record-body">
		<PortableText source={record.body} />
	</div>
)}