---
import Link from "@components/Link.astro";
import TitleAndSubtitle, { separatorsByType } from "@components/TitleAndSubtitle.astro";
import type { RecordProps } from "@lib/types.astro";

type Props = {
	record: RecordProps;
};

const {
	record,
} = Astro.props;
---

{record && record.title && (
	<div class="record-title">
		<h4>
			<Link to={record}>
				<TitleAndSubtitle
					classPrefix="record"
					title={record.title}
					subtitle={((record.type === "project" || record.type === "publication") && record.subtitle) || (record.type === "press" && record.publisher)}}
					separator={separatorsByType[record.type]}
				/>
			</Link>
		</h4>
	</div>
)}