---
import Image from "@components/Image.astro";
import type { RecordProps } from "@lib/types.astro";

type Props = {
	record: RecordProps;
	aspectRatio?: string;
};

const {
	record,
	aspectRatio,
} = Astro.props;
---

{record && record.image && record.image.asset && (
	<div class="record-image" style={{
		"--image-aspect-ratio": aspectRatio,
	}}>
		<Image
			source={record.image}
			sizes={
				record.type === "project" ? "(min-width: 1281px) 30vw, (max-width: 640px) 100vw, (max-width: 1024px) 50vw, (max-width: 1280px) 40vw"
				: record.type === "publication" ? "(min-width: 1281px) 25vw, (max-width: 640px) 50vw, (max-width: 1024px) 30vw, (max-width: 1280px) 25vw"
				: record.type === "news" ? "(min-width: 769px) 60ch, (max-width: 768px) 100vw"
				: record.type === "press" ? "(min-width: 769px) 50ch, (max-width: 768px) 100vw"
				: "100vw"
			}
		/>
	</div>
)}