---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
	href?: string;
};

const {
	class: className,
	href,
	title,
	role,
	...rest
} = Astro.props;
---

{href && (
	<a class={className} href={href} target={href.startsWith("http") && "_blank"} rel={href.startsWith("http") && "noindex nofollow"} title={title} role={role} {...rest}>
		<slot />
	</a>
) || (
	<slot />
)}