---
const { index } = Astro.props;
---

<div class="row" data-index={index}>
	<slot />
</div>

<style lang="scss">
	.row {
		display: flex;
		flex-flow: row nowrap;
		margin-block-end: 1.5rem;
		gap: 1.5rem;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}
</style>