---
type Props = {
	title: string;
	subtitle?: string;
	separator?: string;
	classPrefix?: string;
};

const {
	title,
	subtitle,
	separator = ": ",
	classPrefix,
} = Astro.props;

export const separatorsByType = {
	project: undefined,
	publication: undefined,
	news: undefined,
	press: " →&nbsp;",
};
---

{title && (<>
	<strong class={`${classPrefix ? classPrefix + "-" : ""}title-baseline`}>{title?.trim()}{subtitle && (<span class={`${classPrefix ? classPrefix + "-" : ""}title-separator`} set:html={separator} />)}</strong>{subtitle && (<span class={`${classPrefix ? classPrefix + "-" : ""}subtitle`}>{subtitle?.trim()}</span>)}
</>)}